
body {
    margin: 0;
    background-color: white;
}

.landing {
    height: 100%;
    background: linear-gradient(to bottom right, white 42%, rgba(119,140,253,1) 100%); 
}

.headcontainer {
    background-color: #778CFD;
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

 
 a.mainLinks:link {
    text-decoration: none;
    color: inherit;
  }
  
  a.mainLinks:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a.mainLinks:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a.mainLinks:active {
    text-decoration: none;
    color: inherit;
  } 

.headend {
    padding-right: 7%;
}

.headchild {
    font-size: 125%;
    color: white;
    font-family: "a Atomic Md", "Arial Black", serif;
    align-self: center;
    padding: auto;
}

.headname {
    padding-right: 40%;
    padding-left: 10%;
    font-size: 175%;
    align-self: center;
}

.headcontainer div.headchild:hover {
    color: #174B7B;
}

.namecontainer {

    position: relative;
    top: 50%;
    left: 50%;
    font-family: "a Atomic Md", "Arial Black", serif;
    transform: translate(-50%, -70%);
    width: 82%;
    display: grid;
    grid-template-rows: [row1-start] 50% [row1-end row2-start] 50%;
    grid-template-columns: [col1-start] 20% [col1-end col2-start] 40% [col2-end col3-start] 40%;
}


.name {
    font-size: 70;
    font-family: inherit;
    grid-column: col1-start / span 2;
    grid-row: row1-start / row1-end;
    align-self: end;
    justify-self: end;
}

.school {
    font-size: 27;
    font-family: inherit;
    grid-column: col2-start;
    grid-row: row2-start;
    justify-self: end;
    
}

.icons {
    grid-column: col2-start;
    grid-row: row2-start;
    justify-self: start;
}



.headshot {
    grid-column: col3-start;
    grid-row: row1-start / span 2;
    justify-self: center;
}

.pfp {
    height: 20vw;
    border-radius: 40%;
    border: 3px solid #778CFD;
    
}

.showresume {
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    top: 75%;
    font-family: "a Atomic Md", "Arial Black", serif;
    color: white;
    background-color: #778CFD;
    
}

button.resume:hover {
    background-color: #174B7B;
}

.resume {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 5%;
    font-family: "a Atomic Md", "Arial Black", serif;
    font-size: 100%;
    border:white solid 2px;
    background-color:#778CFD;
    color: white;
    border-radius: 50px;
}

.about {
    min-width: 100%;
    min-height: 2000px;
    border-top:#174B7B solid 3px;
}