
body {
    margin: 0;
    height: 100%;
    background-color: white;
    background: linear-gradient(to bottom right, white 42%, rgba(119,140,253,1) 100%); 
}

.headcontainer {
    background-color: #778CFD;
    position: fixed;
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    
    
}

.headchild {
    font-size: 125%;
    color: white;
    font-family: "a Atomic Md";
    margin-top: auto;
    margin-bottom: auto;
}

.headname {
    font-size: 175%;
    align-self: center;
}

.headcontainer div:hover {
    background-color: #174B7B;
}

.namecontainer {
    position: fixed;
    top: 20%;
    left: 9%;
    width: 1574px;
    display: grid;
    grid-template-rows: [row1-start] 50% [row1-end row2-start] 50%;
    grid-template-columns: [col1-start] 25% [col1-end col2-start] 35% [col2-end col3-start] 40%;
}


.name {
    font-size: 70;
    font-family: "a Atomic Md";
    grid-column: col1-start / span col2-end;
    grid-row: row1-start / row1-end;
    align-self: end;
    justify-self: end;
}

.school {
    font-size: 27;
    font-family: "a Atomic Md";
    grid-column: col2-start;
    grid-row: row2-start;
    justify-self: end;
    
}

.headshot {
    grid-column: col3-start;
    grid-row: row1-start / span 2;
    justify-self: center;
}

.pfp {
    border-radius: 40%;
    border: 3px solid #778CFD;
    
}