
.headcontainer {
    background-color: #778CFD;
    position: fixed;
    width: 100%;
    height: 6.7%;
    left: 0;
    top: 0;
    display: flex;
    place-content: space-around;
}

.headchild {
    align-self: center;
    font-size: 30;
    color: white;
    font-family: "a Atomic Md";

}

.headcontainer div:hover {
    background-color: #174B7B;
}

.namecontainer {
    position: fixed;
    top: 41%;
    left: 9%;
    display: grid;
}

.name {
    font-size: 70;
    font-family: "a Atomic Md";
}

.school {
    font-size: 27;
    font-family: "a Atomic Md";
}